*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    background-color: gold;
}

header p{
background-color: black;
color: goldenrod;
font-size: 3rem;
font-style:oblique;
}

header ol{
    flex-flow: row nowrap;
    justify-content: center;
    align-content: stretch;
    
}

header a{
    height: 2rem;
    background-color: goldenrod;
    border: black double 0.2rem;
    color: black;
}